BODY {
  font-family: 'PT Serif', serif;
}


.container {
  text-align:center;
}

p{
  text-align:left;
  line-height:180%;
}

a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: blue;
}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #FF0000;
}

#nav-link {
    color: white;
   margin:0 auto;
    font-size: 1em;
    letter-spacing: 1.5px;
font-family: 'Montserrat', sans-serif;

}

li {
color: red;
  margin:0 auto;
}

.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}


.byline {
  font-size:1em;
  text-transform:uppercase;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;

}

.chapter-head {
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  font-weight:700;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
  height:100%;
}

.maincaption {
  width:100%;
  max-width:900px;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;

}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  color: #fff
}

/* Top hat */

.nav-logo {
  color:#fff;
  margin:0 auto;
  font-weight: 700;
  text-transform:uppercase;
}

.red {
  color:#f23030;
}

.bg-dark {
  background:#000 !important;
}


/* Splash */

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image{
    width:100%;
    object-fit: contain;
}

.overlay {
  position: absolute; /*lock this in place */
  width:100%;
  top: 20%;
  background:#000; /* black */
  opacity:.7;
}

/*stop and refresh */
.hero-hed{
  padding-top:10px;
  margin:0 auto;
  font-size:6em;
  font-family: 'Playfair Display', serif;
  padding-bottom:10px; /*add way later */
  color:#fff;
}

/* refresh but doesn't have separate font yet */

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size:.25em;
}


/* once showing class that changes the font. Show them the font is too big at small sizes Then show media query */

/* Pull quotes */

.quote {
  font-family: 'Montserrat', sans-serif;
  color: #F23030;
  font-size:3em;
  font-weight:700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  margin-top:20px;
  margin-bottom:20px;
}


.quote-attribution {
  font-size:.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight:100;
  text-align:left;
  color:#000;
}

/* Media Queries */

@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

  .hero-hed {
  font-size:1.5em;
}

}
