

#container {
width:100%;
max-width:1200px;
margin:0 auto;
padding-bottom: 50px;

}

p {
font-family: 'Noto Serif Display', serif;
font-weight: 400;
font-size: 16px;

}
.images {
display: block;
margin-left:auto;
margin-right: auto;
}

.description {
  font-family: 'Noto Serif Display', serif;
  font-weight: 400;
  font-size: 16px;
}

.content {
  background-color: #white;
  color: black;
  margin: 0 auto;
}

#top {
  font-family: 'Vollkorn', serif;
  color: black;
  width: 100%;
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
  background-color: #white;
}

a {
  color: #4D3631;
  text-decoration: none;
}

a:hover {
  color: #4D3631;
  transition: all 0.35s ease-in-out;
}

.mypaper {
  font-family: 'Noto Serif Display', serif;
  color:#A88983;
  font-size: 30px;
}



#skills {
  background-color: #4D3631 ;
  color: #EBE5DB;
}


.organization {
  font-weight: 500;
  font-size: 1.5em;
  font-family: 'Vollkorn', serif;
}

.title {
  font-weight: 400;
  font-size: 1.0em;
  font-style: italic;
  font-family: 'Vollkorn', serif;
}


.subhead {
  margin-top: 0px;
  padding-top: 40px;
  padding-left: none;
  color: #A88983;
  text-align: left;
  font-family:  'Noto Serif Display', serif;
  letter-spacing: 1.5px;
  font-size: 30px;
}

#nav-link {
    color: white;
   margin:0 auto;
    font-size: 1em;
    letter-spacing: 1.5px;
  font-family: 'Noto Serif Display', serif;

}

.navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #A88983;
}

#nav-container {
padding-left: 10%;
}
